doctype html
html(lang="en")
    head
        link( rel='stylesheet', type='text/css', href='/css/style.css' )
        script( src='/watch.js' )
    body
        h1 hello world

        //- Libraries
        script( src='/js/libs/jquery-2.1.0.min.js' )
        script( src='/js/libs/W/build/W.js' )

        //- Main
        script( src='main.js' )
